body{
  background-color: #0099FF;
  color: white;
  overflow: hidden;
}


/* FONTING  */
@font-face{
  font-family: myFont;
  src:url(PetitCochon.otf);
  
}
*{
  font-family: myFont;
}


/* SCROLLBAR STYLE  */
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00F526;
  transform: 3s;
  transition: 3s;
  border-radius: 10px;
}




/* PLACEHOLDER COLOR  */
::placeholder {
  color: #efefef;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}


/* FLOATING CSS  */

@keyframes floatCloudLeft {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-60px);
	}
	100% {
		transform: translatey(0px);
	}
}

.CloudLeft{
  transform: translatey(0px);
	animation: floatCloudLeft 8s ease-in-out infinite;
}


@keyframes floatCloudRight {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(60px);
	}
	100% {
		transform: translatey(0px);
	}
}
.CloudRight{
  transform: translatey(0px);
	animation: floatCloudRight 8s ease-in-out infinite;
}





/* skjskjsj  */
@keyframes floatCloudLeftSnail {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(-60px, -60px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.CloudLeftSnail {
	transform: translate(0px, 0px);
	animation: floatCloudLeftSnail 8s ease-in-out infinite;
}



@keyframes floatCloudRightNoIdea {
  0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(60px, 60px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.CloudRightNoIdea {
	transform: translate(0px, 0px);
	animation: floatCloudRightNoIdea 8s ease-in-out infinite;
}




/* BUTTON CSS  */
.start-btn{
    text-align: center;
	font-size: 24px;
  	display: inline-block;
    font-weight: 300;
    padding: 20px 10px 10px 10px ;
    width: 200px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
	letter-spacing: 3px;
}

.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.memorygameDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	height: 100vh;
	width: 100vw;
}